
.paellaEditorContainer {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	top:0px;
}

.paellaEditor_zoomBar {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	background-color:#52595F;
	height:27px;
}

.paellaEditor_timeline {
	background-image:url(../images/light_background.png);
	position:absolute;
	bottom:27px;
	left:0px;
	right:0px;
	top:45px;
	overflow:auto;
}

.paellaEditor_playbackMarkContainer {
	height:100%;
	position:absolute;
	width:15px;
	top:0px;
	z-index:7;
}

.paellaEditor_playbackMark {
	height:100%;
	position:absolute;
	left:-7px;
	width:15px;
	top:0px;
	background-image:url(../images/playback_current.png);
}

.paellaEditor_ruleContainer {
	/*background-image:url(../images/rule_container.png);*/
	font-family:verdana;
	font-size:11px;
	position:absolute;
	top:0px;
	left:0px;
	height:15px;
	-moz-box-shadow: 1px 2px 9px 1px black;
	-webkit-box-shadow: 1px 2px 9px 1px black;
	-ms-box-shadow: 1px 2px 9px 1px black;
	box-shadow: 1px 2px 9px 1px black;
	background-color:#526775;
	color:white;
}

.paellaEditor_playbackMarkItem_odd {
	height:15px;
	overflow:hidden;
	display:block;
	float:left;
	background-color:#303b43;
}

.paellaEditor_playbackMarkItem_even {
	height:15px;
	overflow:hidden;
	display:block;
	float:left;
}

.paellaEditor_frameEnabled {
	background-image:url(../images/frame_bkg.png);
	z-index:3;
	position:absolute;
	height:48px;
	top:0px;
}

.paellaEditor_frameDisabled {
	background-image:url(../images/frame_bkg_disabled.png);
	z-index:2;
	position:absolute;
	left:0px;
	height:48px;
	top:50px;
}

.paellaEditor_frameSetItem {
}

.paellaEditor_trimBar_left {
	position:absolute;
	top:0px;
	z-index:6;
	background-image: url(../images/trim_bar_left.png);
	width:11px;
	height:48px;
}

.paellaEditor_trimBar_right {
	position:absolute;
	top:0px;
	z-index:6;
	background-image:url(../images/trim_bar_right.png);
	width:11px;
	height:48px;
}

.paellaEditor_toolbar {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	height:45px;
	background-image:url(../images/editor_toolbar_bkg.png);
}
