.playerContainer {
	margin-bottom: 20px;
}

.playerContainer.mainProfile {
	float:left;
	position: relative;
	overflow: hidden;
	width: 68%;
	border: 1px solid #6e6e6e;
}

.rightContainer.mainProfile {
	position:relative;
	width:30%;
	float:right;
}

.bottomContainer.mainProfile {
	position:relative;
	float:left;
	width:68%;
	min-height: 100px;
	border: 1px solid #6e6e6e;
	margin-bottom: 20px;
	margin-top: 16px;
}

.playerContainer.profile2 {
	float:left;
	position: relative;
	overflow: hidden;
	border: 1px solid #6e6e6e;
	width:100%;
}

.rightContainer.profile2 {
	position:relative;
	width:38%;
	float:right;
	margin-top: 15px;
}

.bottomContainer.profile2 {
	position:relative;
	float:left;
	width:60%;
	min-height: 500px;
	border: 1px solid #6e6e6e;
	margin-bottom: 20px;
	margin-top: 16px;
}

.bottomContainerTabs {
	margin-top: -29px;
}

.bottomContainerTabItem {
	display:inline;
	line-height: 28px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	cursor: pointer;
	cursor: hand;
	margin-left: -1px;
	font-family: sans-serif;
	border-left: 1px solid #6e6e6e;
	border-top: 1px solid #6e6e6e;
	border-right: 1px solid #6e6e6e;
	border-radius: 6px 6px 0px 0px
}

.bottomContainerTabItem.enabledTabItem {
	background-color: #6c6c6c;
	color:white;
	cursor:default;
	box-shadow: inset 0px 0px 12px rgba(0,0,0,0.9);
}

.bottomContainerTabItem.disabledTabItem {
	background-color: #e6e6e6;
}

.bottomContainerContent {
}

.bottomContainerContent.enabledTabContent {
}

.bottomContainerContent.disabledTabContent {
	display:none;
}