body {
	height: 100%;
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

h2 {
}

a {
	color: #636363;
}

a:hover {
	color: #a4a4a4;
}

a:active {
	color: #3d3d3d;
}

a:visited {
	color: #636363;
}

.video {
	/* Esto va bastante lento al redimensionar la ventana*/
	-moz-box-shadow: 2px 2px 6px #000;
	-webkit-box-shadow: 2px 2px 6px #000;
	box-shadow: 2px 2px 6px #000;
}

#playerContainer:-webkit-full-screen	{ width: 100%; }
#playerContainer:-moz-full-screen		{ width: 100%; }
#playerContainer:-ms-full-screen		{ width: 100%; }
#playerContainer:-o-full-screen			{ width: 100%; }
#playerContainer:full-screen			{ width: 100%; }

#ignoreBrowserCheckLink {
	color:black;
	text-decoration: underline;
}

.masterVideo {	
}

.slaveVideo {
}

.playbackControls {
	background-image:url(../images/playback_bkg.png);
}

.playbackBar {
	position:absolute;
	left:0px;
	right:50px;
	height:40px;
	background-image:url(../images/playback_empty.png);
}

.playbackBarFull {
	height:40px;
	background-image:url(../images/playback_full.png);
}

/* old style time control */
.timeControlOld {
	color:white;
	display:block;
	position:relative;
	width:69px;
	height:44px;
	background-size: 100%;
	background-image:url(../images/time_monitor.png);
	font-size: 10px;
	padding-top: 11px;
	background-repeat: no-repeat;
	bottom: 70px;
	font-family: verdana;
	text-align: center;
	z-index:100;
}

.timeControl {
	color:white;
	display:block;
	position:relative;
	width:69px;
	height:44px;
	font-size: 10px;
	padding-top: 15px;
	background-repeat: no-repeat;
	bottom: 47px;
	padding-left:5px;
	font-family: verdana;
	text-align: left;
	z-index:100;
}

.editButton {
	width:40px;
	height:37px;
	background-image:url(../images/edit_button.png);
	background-repeat:no-repeat;
}

.editButton:hover {
	background-position:-40px 0px;
}

.editButton_active {
	width:40px;
	height:37px;
	background-image:url(../images/edit_button.png);
	background-repeat:no-repeat;
	background-position:-80px 0px;
}

.paellaLoadErrorContainer {
	width: 1000px;
	margin: auto;
	margin-top:200px;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: rgba(220,228,234,0.9);
	border-radius: 22px;
	box-shadow: 1px 1px 8px black;
	font-family: sans-serif;
	font-size: 20px;
}

.modalMessageContainer {
	background-color: rgba(0,0,0,0.5);
}

.messageContainer {
	margin: auto;
	text-align: center;
	vertical-align: middle;
	font-family: sans-serif;
	padding-left: 80px;
	padding-right: 80px;
	background-color: white;
	border-radius: 22px;
	box-shadow: 1px 1px 8px black;
	font-family: sans-serif;
	font-size: 20px;
	padding-top: 40px;
	padding-bottom:40px;
}

.frameContainer {
	margin: auto;
	text-align: center;
	vertical-align: middle;
	font-family: sans-serif;
	padding-left: 80px;
	padding-right: 80px;
	background-color: white;
	border-radius: 22px;
	box-shadow: 1px 1px 8px black;
	font-family: sans-serif;
	font-size: 20px;
	padding-top: 40px;
	padding-bottom:40px;
	display:block;
}

.errorContainer {
	margin: auto;
	text-align: center;
	vertical-align: middle;
	padding-left: 120px;
	padding-right: 60px;
	background-color: white;
	border-radius: 22px;
	box-shadow: 1px 1px 8px black;
	font-family: sans-serif;
	font-size: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
	border: 7px solid maroon;
	color: maroon;
	font-weight: bold;
	background-image: url(../images/error_icon.png);
	background-size: 10%;
	background-repeat: no-repeat;
	background-position: 50px 40px;
}

.paella_messageContainer_closeButton {
	background-image: url(../images/close_button.png);
	width:20px;
	height:20px;
	position:absolute;
	display:block;
	top: 10px;
	right: 10px;
	z-index: 999999999;
	background-size: 60px 20px;
}

.paella_messageContainer_closeButton:hover {
	background-position: -20px;
}

.paella_messageContainer_closeButton:active {
	background-position: 20px;
}

.overlayContainer {
	
}

.overlayContainer.background {
	background-color: rgba(0,0,0,0.5);
}
